*{
  margin: auto;
  box-sizing: border-box;
}
.App {
  /* text-align: center; */
}

.link{
  color: white;
    padding: 20px;
  border-radius: 40px;
  background-color:darkolivegreen;
  text-decoration: none;
}
.login,.register{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 15vh;
  background-color:darkolivegreen;
color: white;
margin-bottom: 4rem;
}
.hide{
  display: none;
}
.show{
  display: block;
  color:orangered;
}

.App {
  text-align: center;
  /* display: flex; */

}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color:darkolivegreen;

}
.nav-links{
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  gap: 5rem;
}
a{
  text-decoration: none;
  color: white;
}
.link-tag{
  
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.link{
  color: white;
    padding: 20px;
  border-radius: 40px;
  background-color:darkolivegreen;
  
}
.link:hover{
  background-color:olive;
}
.text-button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
padding-top: 40px;
}
li{
  color: red;
}
.nav-btn{
  color:olive;
    padding: 20px;
  border-radius: 10px;
  background-color:darkkhaki;
  width: 100px;
}
.nav-btn:hover{
  background-color:cadetblue;
  color: white;
}
.logoutbtn{
  color:black;
  padding: 20px ;
border-radius: 10px;
background-color:khaki;
width: 100px;
text-align: center;
}
.logoutbtn:hover{
  background-color:cadetblue;
  color: white;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
  width: 300px;
  height: 40vh;
  background-color: khaki;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(13, 72, 124, 0.2);
}
.reg-btn{
  padding-top: 40px;
}
.form-input{
    border-radius: 0.5rem;
    /* border: 1px solid red; */
    width: 265px;
    border: none;
    padding: 1rem;
}
.form-div{
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: flex-start;
}
.btn{
  border-radius: 10px;
  padding: 8px 10px;
  background-color: darkkhaki;
}
.btn:hover{
  background-color: cadetblue;
}
.abt-btn,h6{
  padding-top: 5rem;
}
.errorh1{
 color: green;
}
.pgh3{
  padding-top: 3rem;
  padding-bottom: 3rem;
}